/*=========================== FOOTER css ===========================*/
.footer-widget {
   background-color: #0f0f20;
   font-size: 25px;
   padding-top: 25px;
   padding-bottom: 25px;
   margin-top: 1%;
}
.footer-mec {
   float: left;
}

.footer-mec img {
   width: 120px;
}
.footer-excel {
   float: right;
}
.excel {
   width: 100px;
}

@media (max-width: 767px) {
   .footer-widget {
      padding-top: 20px;
      padding-bottom: 20px;
      height: 80%;
   }
   .footer-mec img {
      display: none;
   }
   .rounded-social-buttons {
      margin-top: 30px;
      display: block;
      margin-left: 26%;
      margin-right: 20%;
   }

   .excel {
      width: 100px;
      height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
}

.footer-logo a img {
   width: 140px;
}

.footer-logo p {
   line-height: 26px;
   font-size: 24px;
}

.footer-logo .footer-info li {
   margin-top: 4px;
}

.footer-logo .footer-info li .info {
   position: relative;
}

.footer-logo .footer-info li .info .info-icon {
   position: absolute;
   top: 2px;
   left: 0;
}

.footer-logo .footer-info li .info .info-icon i {
   font-size: 30px;
}

.footer-logo .footer-info li .info .info-content {
   padding-left: 30px;
}

.footer-logo .footer-social li {
   display: inline-block;
   margin-left: 15px;
}

.footer-logo .footer-social li:first-child {
   margin-left: 0;
}

.footer-logo .footer-social li a {
   width: 35px;
   height: 35px;
   line-height: 40px;
   text-align: center;
   border-radius: 50%;
   background-color: #fff5f1;
   color: #0d1117;
   font-size: 16px;
   box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.4);
   transition: all 0.4s ease-out 0s;
}

.footer-logo .footer-social li a:hover {
   background-color: #330983;
   color: #fff;
}

.f-title .title {
   font-size: 22px;
   font-family: "Barlow", sans-serif;
   font-weight: 600;
}

.footer-link ul li {
   padding-top: 5px;
}

.footer-link ul li a {
   font-size: 16px;
   color: #646464;
   transition: all 0.4s ease-out 0s;
}

.footer-link ul li a:hover {
   color: #c8c2d3;
}

#footer .row a i {
   font-size: 1.6rem;
   display: block;

   margin: 4.6px auto;
}

#footer .row a i .icon {
   margin-top: 9px !important ;
}

.rounded-social-buttons {
   display: inline-block;
   margin: 0 auto;
   text-align: center;
}

.rounded-social-buttons .social-button {
   display: inline-block;
   position: relative;
   cursor: pointer;
   width: 2.3rem;
   height: 2.3rem;
   border: 0.125rem solid transparent;
   text-decoration: none;
   text-align: center;
   color: #fefefe;
   filter: grayscale(1);
   font-size: 1rem;
   font-weight: normal;
   border-radius: 1.6875rem;
   transition: all 0.5s ease;
   margin-right: 0.25rem;
   margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
   transform: rotate(360deg);
   filter: none;
}

.rounded-social-buttons .fa-twitter,
.fa-facebook,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
   font-size: 20px !important;
}

.rounded-social-buttons .social-button.facebook {
   background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
   color: #3b5998;
   background: #fefefe;
   border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
   background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
   color: #55acee;
   background: #fefefe;
   border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
   background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
   color: #007bb5;
   background: #fefefe;
   border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
   background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
   color: #bb0000;
   background: #fefefe;
   border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
   background: #bb0000;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
   color: #125688;
   background: #fefefe;
   border-color: #125688;
}

.rect {
   width: 100%;
   height: 100vh;
}
.footer-text {
   font-size: 15px;
   color: #fff;
}
