/* @import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap"); */
@import "compass";
@import url("https://fonts.googleapis.com/css?family=Anton|Roboto");

.word {
   font-family: "Anton", sans-serif;
   perspective: 1000px;
}

.word span {
   cursor: pointer;
   display: inline-block;
   font-size: 80px;
   user-select: none;
   line-height: 0.8;
}
