@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Poppins&display=swap");

/*===========================
   1. Main page
===========================*/
.header {
   background: #050505;
}
.landing-page {
   background-image: #050505;
   width: 100vw;
   height: 100vh;
   padding-top: 5%;
   z-index: 10;
}

.landingpage-text {
   margin-top: 3%;
   display: block;
   text-align: center;
}
.landingpage-maintext {
   z-index: 500 !important;
}
.hftlogo {
   width: 70%;
}
.landingpage-description {
   margin-top: 5%;
   color: rgb(129, 127, 127);
   font-size: 22px;
   width: 100%;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   z-index: 500 !important;
   font-family: "Poppins", sans-serif;
}

.landingpage_girl {
   margin-top: 6%;
   z-index: 500 !important;
}
.time-div {
   color: #d4d3d3;
   margin: 0 auto;
   text-align: center;
}

.timer {
   display: inline-block;
   font-size: 0.9em;
   list-style-type: none;
   padding: 1.5em;
   text-transform: uppercase;
   font-family: "Poppins", sans-serif;
}

.timer span {
   display: block;
   font-size: 28px;
}
.apply-button {
   height: 44px;
   width: 280px;
}
.animation-container {
   z-index: 1;
   background: #fff;
   z-index: 0.5;
}

.animation-container span {
   font-family: "Barlow", sans-serif;
   position: absolute;
   color: #dcdafa;
   display: block;
   font-size: 23px;
   text-shadow: 0 0 1px white;
   user-select: none;
   pointer-events: none;
   cursor: default;
   z-index: 0.2 !important;
   opacity: 0;
   top: 0;
   will-change: transform, opacity;
   animation-timing-function: ease-out;
   animation-name: move;
}

@keyframes move {
   0% {
      opacity: 0;
      top: 100%;
   }
   25% {
      opacity: 1;
   }
   50% {
      opacity: 1;
   }
   75% {
      opacity: 0;
   }
   100% {
      opacity: 0;
      transform: none;
   }
}
.apply-button {
   margin-top: 1%;
}
.apply-svg {
   width: 30px;
}

/* Animation */
