@media (min-device-width: 20px) and (max-device-width: 600px) {
   .heading {
      font-size: 32px;
      font-weight: 600;
      text-align: center;
   }

   .content {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
   }
   .horizontal-navbar {
      display: none;
   }

   .larger-screen-img {
      display: none;
   }
   .smaller-screen-img {
      display: block;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
   }
   #nav-fullscreen {
      font-size: 30px;
      padding: 30%;

      font-family: "Poppins", sans-serif;
      transition: all 0.4s ease-out 0s;
   }
   .landing-page {
      width: 100vw;
      height: 100vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   .landingpage-heading1,
   .landingpage-heading2 {
      margin: auto;
      font-size: 50px;
   }
   .apply-button {
      width: 70%;
   }

   .landingpage-description {
      font-size: 15px;
   }

   .time-div {
      width: 70%;
   }
   .timer,
   .timer span {
      font-size: 13px;
      padding: 1em;
   }

   /* --------------------------------------------- */
   #about {
      margin-top: 8%;
   }
   .smallscreen-hide {
      display: none;
   }

   .card-section {
      padding: 20px 10px;
      background-color: #fffefe;
      transition: all 0.4s ease-out 0s;
      box-shadow: 2px 2px 6px #c0bcf34d;
      margin: 5%;
   }
   .card-section-area {
      padding-top: 35px;
      padding-bottom: 30px;
   }
   .rewards,
   .special-prizes {
      margin: 1%;
   }

   .rewards-content {
      margin-top: 1%;
   }
   .special-prizes {
      margin-left: 3%;
      margin-right: 3%;
   }
   .bouties-div {
      margin-left: 1%;
   }
   /* Timeline */
   .history-tl-container {
      width: 90%;
      margin: 15%;
      padding-left: 13%;
      padding-right: 10%;
   }
   .history-tl-container ul.tl li {
      margin-left: 15%;
   }
   .sponsers-area {
      padding-top: 75px;
      padding-bottom: 80px;
      padding-right: 8%;
      padding-left: 8%;
   }
   .sponsers .sponsers-image {
      height: 170px;
      width: 160px;
      margin-left: 20%;
      margin-right: 20%;
   }

   .right_arrow,
   .left_arrow {
      height: 30px;
      width: 30px;
      font-size: 16px !important;
   }
   .left_arrow {
      left: -10px;
      top: 25%;
   }
   .right_arrow {
      right: -10px;
      top: 25%;
   }
   .contact-area {
      padding-top: 75px;
      padding-bottom: 80px;
   }
   .footer-mec {
      display: flex;
      flex-direction: column;
   }
}
@media (min-device-width: 600px) and (max-device-width: 1000px) {
   .heading {
      font-size: 33px;
      font-weight: 600;
      text-align: center;
   }

   .content {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
   }
   .larger-screen-img {
      display: none;
   }
   .smaller-screen-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .horizontal-navbar {
      display: none;
   }
   .landingpage_girl {
      width: 75%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .landing-page {
      width: 100vw;
      height: 100vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   .landingpage-description {
      font-size: 15px;
   }

   .time-div {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .rewards-list {
      text-align: left;
   }

   .contact-area {
      padding-top: 75px;
      padding-bottom: 80px;
   }

   .footer-excel {
      text-align: center !important;
   }
   .excel {
      text-align: center !important;
   }
}
@media (min-device-width: 1000px) and (max-device-width: 2000px) {
   .excel {
      width: 100px;
      float: right;
   }

   .larger-screen-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .smaller-screen-img {
      display: none;
   }

   .card-section {
      padding: 30px 10px;
   }
   .contact .contact-content {
      padding: 30px 0;
   }
}
@media (max-width: 500px) {
   .paddin {
      text-align: left;
      padding-left: 3%;
   }
}
