@media (min-device-width: 20px) and (max-device-width: 600px) {
   .heading {
      font-size: 32px;
      font-weight: 600;
      text-align: center;
   }

   .content {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
   }

   .larger-screen-img {
      display: none;
   }
   .smaller-screen-img {
      display: block;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
   }
   .landing-page {
      width: 100vw;
      height: 100vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   .landingpage-heading1,
   .landingpage-heading2 {
      margin: auto;
      font-size: 50px;
   }
   .landingpage-heading2 {
      text-shadow: -1px -1px 0 #6c63ff, 1px -1px 0 #8c88e2, -1px 1px 0 #6c63ff, 1px 1px 0 #6c63ff;
   }

   .landingpage-description {
      font-size: 15px;
   }

   .time-div {
      width: 70%;
   }
   .timer,
   .timer span {
      font-size: 13px;
   }
   /* --------------------------------------------- */
   #about {
      margin-top: 5%;
   }
   .problem-statements {
      padding: 30px 10px;
   }
   .problem-statements-area {
      padding-top: 75px;
      padding-bottom: 80px;
   }
   .rewards {
      margin: 1%;
   }

   .rewards-list {
      text-align: left;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   .sponsers-area {
      padding-top: 75px;
      padding-bottom: 80px;
      padding-right: 8%;
      padding-left: 8%;
   }
   .right_arrow,
   .left_arrow {
      height: 30px;
      width: 30px;
      font-size: 16px !important;
   }
   .left_arrow {
      left: -10px;
      top: 25%;
   }
   .right_arrow {
      right: -10px;
      top: 25%;
   }
   .team-area {
      padding-top: 75px;
      padding-bottom: 80px;
   }
   .footer-mec {
      display: flex;
      flex-direction: column;
   }
}
@media (min-device-width: 600px) and (max-device-width: 1000px) {
   .heading {
      font-size: 33px;
      font-weight: 600;
      text-align: center;
   }

   .content {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
   }
   .larger-screen-img {
      display: none;
   }
   .smaller-screen-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .landingpage_girl {
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .landing-page {
      width: 100vw;
      height: 100vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .landingpage-heading1,
   .landingpage-heading2 {
      margin: auto;
      font-size: 60px;
   }
   .landingpage-description {
      font-size: 15px;
   }

   .time-div {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .rewards-list {
      text-align: left;
   }
   .team-area {
      padding-top: 75px;
      padding-bottom: 80px;
   }
}
@media (min-device-width: 1000px) and (max-device-width: 1800px) {
   .larger-screen-img {
      display: block;
   }
   .smaller-screen-img {
      display: none;
   }
   .problem-statements {
      padding: 30px 10px;
   }
   .team .team-content {
      padding: 30px 0;
   }
}
