@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Poppins&display=swap");

.heading {
   font-size: 43px;
   font-family: "Poppins", sans-serif;
   color: #3f3d56;
   font-weight: 900;
}

.content {
   font-family: "Barlow", sans-serif;
   font-size: 19px;
   font-weight: 400;
   line-height: 30px;
   color: #646464;
}

html,
body {
   max-width: 100%;
   overflow-x: hidden;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
}

/* Preloader Animations Toadd  */
.preloader {
   width: 100%;
   height: 100%;
   background: url("https://media.giphy.com/media/feN0YJbVs0fwA/giphy.gif");
   z-index: 99999;
   position: fixed;
}
/* Navbar */

/*===========================
    3.ABOUT css 
===========================*/

.about-text {
   margin: 10%;
}

/* Why participate */
.whyparticipate-text {
   margin: 10%;
}
.whyparticipate-reasons {
   padding-left: 15%;
   padding-right: 15%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
   height: 100px;
   width: 100px;
   outline: black;
   background-size: 100%, 100%;
   border-radius: 50%;
   background-image: none;
}

.carousel-control-next-icon:after {
   content: ">";
   font-size: 55px;
   color: rgb(28, 4, 66);
}

.carousel-control-prev-icon:after {
   content: "<";
   font-size: 55px;
   color: rgb(28, 4, 66);
}
/*===========================
      4.problem-statementS css 
===========================*/

.problem-statements {
   padding: 50px 30px;
   background-color: #fafafa;
   transition: all 0.4s ease-out 0s;
   box-shadow: 1px 1px 3px #c0bcf344;
   margin: 5%;
}
.problem-statements-area {
   margin-top: 5%;
   margin-left: 8%;
   margin-right: 8%;
}

.problem-statements .problem-statements-icon i {
   font-size: 52px;
   color: #6f66ff;
   opacity: 0.75;
   transition: all 0.4s ease-out 0s;
}

.problem-statements .problem-statements-content .problem-statements-title {
   font-size: 22px;
   font-weight: 600;
   font-family: "Barlow", sans-serif;
   transition: all 0.4s ease-out 0s;
}

.problem-statements:hover {
   background-color: #6f66ff;
}

.problem-statements:hover .problem-statements-icon i {
   color: #fff;
}
.problem-statements-title {
   color: #3f3d56;
}
.problem-statements:hover .problem-statements-content .problem-statements-title,
.problem-statements:hover .problem-statements-content p {
   color: #fff;
}
.problem-stmt-description {
   font-size: 17px;
}

/* Rewards */
.rewards {
   margin: 5%;
}
.rewards-text {
   margin: 10%;
}
/*===========================
      5.SPONSORS css 
===========================*/

.sponsers {
   position: relative;
}

.sponsers .sponsers-image {
   position: relative;
}

.sponsers-title {
   margin-bottom: 5%;
}
.sponsers .sponsers-image::before {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   background: white;
   background: linear-gradient(rgba(255, 255, 255, 0) 50%, #1864ab 100%);
   opacity: 0;
   transition: all 0.4s ease-out 0s;
}

.sponsers .sponsers-content {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 35px 5px;
   transform: translateY(100%);
   transition: all 0.4s ease-out 0s;
   opacity: 0;
}

.sponsers .sponsers-content .sponsers-title {
   font-size: 22px;
   font-weight: 600;
   font-family: "Barlow", sans-serif;
   position: relative;
   color: #fff;
   margin-left: 60px;
}

.sponsers .sponsers-content .sponsers-title::before {
   position: absolute;
   content: "";
   width: 50px;
   height: 1px;
   background-color: #fff;
   top: 50%;
   left: -60px;
}

.sponsers:hover .sponsers-image::before {
   opacity: 1;
}

.sponsers:hover .sponsers-content {
   opacity: 1;
   transform: translateY(0%);
}

.sponsers-active .slick-dots {
   text-align: center;
   margin-top: 50px;
}

.sponsers-active .slick-dots li {
   display: inline-block;
   margin: 0 7px;
}

.sponsers-active .slick-dots li button {
   width: 25px;
   height: 15px;
   border-radius: 50px;
   border: 0;
   background-color: #7c76fb;
   transition: all 0.4s ease-out 0s;
   font-size: 0;
   cursor: pointer;
}

.sponsers-active .slick-dots li.slick-active button {
   width: 35px;
   background-color: #0a0a28;
}
/* ----------auto-carousel----------- */

i {
   font-size: 18px;
}
.left_arrow {
   position: absolute;
   top: 30%;
   left: -20px;

   height: 40px;
   width: 40px;
   background-color: #007bb5;
   border-radius: 50%;
   color: #fff;

   align-content: center;
   padding-left: 5px;
   padding-top: 6px;
   z-index: 40;

   cursor: pointer;
   transition: 0.3s;
}
.left_arrow:hover {
   background: darkblue;
}
.right_arrow {
   position: absolute;
   top: 30%;
   right: -20px;

   height: 40px;
   width: 40px;
   background-color: #007bb5;
   border-radius: 50%;
   color: #fff;

   align-content: center;
   padding-left: 9px;
   padding-top: 6px;

   z-index: 99;

   cursor: pointer;
   transition: 0.3s;
}
.right_arrow:hover {
   background: darkblue;
}

.lastanimation {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/*===========================
        6.TEAM css 
===========================*/
.team-area {
   margin: 3%;
}
.team .team-content {
   width: 80%;
   margin: 0 auto;
   padding: 30px 15px;
   position: relative;
   transition: all 0.4s ease-out 0s;
}

.team .team-content .team-name a {
   font-size: 25px;
   font-weight: 600;
   color: #121619;
   transition: all 0.4s ease-out 0s;
}

.team .team-content .team-name a:hover {
   color: #007bb5;
   text-decoration: none;
}

.team .team-content .sub-title {
   font-size: 18px;
   color: #646464;
}

.team .team-content .social {
   margin-top: -35px;
   opacity: 0;
   visibility: hidden;
   transition: all 0.4s ease-out 0s;
}

.team .team-content .social li {
   display: inline-block;
   margin: 0 7px;
}

.team .team-content .social li a {
   font-size: 14px;
   color: #646464;

   width: 100px;
   height: 100px;
   line-height: 35px;
   text-align: center;
   border-radius: 50%;
   background-color: #ededed;
   transition: all 0.4s ease-out 0s;
}

.team .team-content .social li a:hover {
   background-color: #71a6be;
   color: rgb(10, 10, 10);
}

.team:hover .team-content {
   background-color: #fff;
   margin-top: -60px;
   box-shadow: 0px 1px 7px 0px #a7b7c7;
}

.team:hover .team-content .social {
   margin-top: 25px;
   opacity: 1;
   visibility: visible;
}
